<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.palladiosimulator.experimentautomation.application.launchConfigurationType">
    <stringAttribute key="Experiment Automation" value="platform:/resource/ConnectedHeating/My.experiments"/>
    <intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/ConnectedHeating}/logs.log"/>
    <stringAttribute key="org.palladiosimulator.architecturaltemplates.jobs.config.modelStorageLocation" value="org.palladiosimulator.architecturaltemplates.temporary"/>
    <booleanAttribute key="org.palladiosimulator.architecturaltemplates.jobs.config.storeCompletedModels" value="true"/>
    <stringAttribute key="outpath" value="org.palladiosimulator.temporary"/>
</launchConfiguration>
