<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.uka.ipd.sdq.simucontroller.SimuLaunching">
<stringAttribute key="accuracyQualityAnnotationFile" value="platform:/resource/MediaStoreExample/PrioritizingMediaStore_1_0.1.quality"/>
<stringAttribute key="allocationFile" value="platform:/resource/MediaStoreExample/PrioritizingMediaStore.allocation"/>
<booleanAttribute key="clear" value="true"/>
<listAttribute key="completion.config"/>
<booleanAttribute key="completion.qvt.verbose.logging" value="false"/>
<stringAttribute key="confidenceBatchSize" value="200"/>
<stringAttribute key="confidenceHalfWidth" value="10"/>
<stringAttribute key="confidenceLevel" value="95"/>
<stringAttribute key="confidenceMinNumberOfBatches" value="60"/>
<stringAttribute key="confidenceModelElementName" value=""/>
<stringAttribute key="confidenceModelElementURI" value=""/>
<booleanAttribute key="confidenceUseAutomaticBatches" value="false"/>
<intAttribute key="datasourceID" value="0"/>
<intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
<stringAttribute key="eventMiddlewareRepositoryFile" value="pathmap://PCM_MODELS/default_event_middleware.repository"/>
<stringAttribute key="experimentRun" value="PMS AIA 1,0.1"/>
<stringAttribute key="featureConfig" value="pathmap://PCM_MODELS/ConnectorConfig.featureconfig"/>
<stringAttribute key="fixedSeed0" value="0"/>
<stringAttribute key="fixedSeed1" value="1"/>
<stringAttribute key="fixedSeed2" value="2"/>
<stringAttribute key="fixedSeed3" value="3"/>
<stringAttribute key="fixedSeed4" value="4"/>
<stringAttribute key="fixedSeed5" value="5"/>
<stringAttribute key="hddParameters" value=""/>
<stringAttribute key="maximum" value=""/>
<stringAttribute key="maximumMeasurementCount" value="1000"/>
<stringAttribute key="minimum" value=""/>
<stringAttribute key="mwRepositoryFile" value="pathmap://PCM_MODELS/Glassfish.repository"/>
<stringAttribute key="outpath" value="de.uka.ipd.sdq.temporary"/>
<stringAttribute key="persistenceFramework" value="SensorFramework"/>
<stringAttribute key="simTime" value="15000"/>
<booleanAttribute key="simulateAccuracy" value="true"/>
<booleanAttribute key="simulateFailures" value="false"/>
<booleanAttribute key="simulateLinkingResources" value="false"/>
<stringAttribute key="simulatorId" value="de.uka.ipd.sdq.codegen.simucontroller.simucom"/>
<stringAttribute key="stepwidth" value=""/>
<stringAttribute key="usageFile" value="platform:/resource/MediaStoreExample/PrioritizingMediaStore.usagemodel"/>
<booleanAttribute key="useConfidenceStopCondition" value="false"/>
<booleanAttribute key="useFixedSeed" value="false"/>
<booleanAttribute key="useHddParameters" value="false"/>
<stringAttribute key="variable" value=""/>
<booleanAttribute key="verboseLogging" value="false"/>
</launchConfiguration>
