<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.uka.ipd.sdq.simucontroller.SimuLaunching">
<stringAttribute key="EDP2RepositoryID" value="_FS2xUFSiEeae4Nk8kZBAPw"/>
<stringAttribute key="accuracyQualityAnnotationFile" value=""/>
<stringAttribute key="allocationFile" value="platform:/resource/Network Demo/default.allocation"/>
<booleanAttribute key="clear" value="false"/>
<stringAttribute key="confidenceBatchSize" value="200"/>
<stringAttribute key="confidenceHalfWidth" value="10"/>
<stringAttribute key="confidenceLevel" value="95"/>
<stringAttribute key="confidenceMinNumberOfBatches" value="60"/>
<stringAttribute key="confidenceModelElementName" value=""/>
<stringAttribute key="confidenceModelElementURI" value=""/>
<booleanAttribute key="confidenceUseAutomaticBatches" value="true"/>
<intAttribute key="datasourceID" value="-1"/>
<intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="0"/>
<stringAttribute key="eventMiddlewareRepositoryFile" value="pathmap://PCM_MODELS/default_event_middleware.repository"/>
<stringAttribute key="experimentRun" value="Mini Network Example"/>
<stringAttribute key="featureConfig" value="platform:/resource/Network Demo/CompletionConfigs/ConnectorConfigRMIEncAuth.featureconfig"/>
<stringAttribute key="fixedSeed0" value="0"/>
<stringAttribute key="fixedSeed1" value="1"/>
<stringAttribute key="fixedSeed2" value="2"/>
<stringAttribute key="fixedSeed3" value="3"/>
<stringAttribute key="fixedSeed4" value="4"/>
<stringAttribute key="fixedSeed5" value="5"/>
<stringAttribute key="maximum" value=""/>
<stringAttribute key="maximumMeasurementCount" value="20"/>
<stringAttribute key="minimum" value=""/>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/Network Demo}/outputLog/without.log"/>
<stringAttribute key="outpath" value="org.palladiosimulator.temporary"/>
<stringAttribute key="persistenceFramework" value="Experiment Data Persistency &amp; Presentation (EDP2)"/>
<booleanAttribute key="reliability.simulateFailures" value="false"/>
<stringAttribute key="rmiRepositoryFile" value="platform:/resource/Network Demo/CompletionConfigs/Glassfish.repository"/>
<stringAttribute key="simTime" value="-1"/>
<booleanAttribute key="simulateAccuracy" value="false"/>
<booleanAttribute key="simulateFailures" value="false"/>
<booleanAttribute key="simulateLinkingResources" value="true"/>
<booleanAttribute key="simulateThroughputOfLinkingResources" value="true"/>
<stringAttribute key="simulatorId" value="de.uka.ipd.sdq.codegen.simucontroller.simucom"/>
<stringAttribute key="stepwidth" value=""/>
<stringAttribute key="usageFile" value="platform:/resource/Network Demo/default.usagemodel"/>
<booleanAttribute key="useConfidenceStopCondition" value="false"/>
<booleanAttribute key="useFixedSeed" value="false"/>
<stringAttribute key="variable" value=""/>
<stringAttribute key="variationId" value="With Completions and RMI, Encrypted and Authenticated"/>
<booleanAttribute key="verboseLogging" value="false"/>
</launchConfiguration>
