<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.upb.pcm.interpreter.SimuLizarLaunching">
    <stringAttribute key="EDP2RepositoryID" value="_A6z7cE6TEeydaPfDwmFaYQ"/>
    <stringAttribute key="accuracyQualityAnnotationFile" value=""/>
    <stringAttribute key="actionModelFile" value="platform:/plugin/org.palladiosimulator.simulizar.action.repository/model/repository.actions"/>
    <stringAttribute key="allocationFile" value="platform:/resource/MediaStore3_Model/ms_cache.allocation"/>
    <booleanAttribute key="clear" value="true"/>
    <stringAttribute key="confidenceBatchSize" value="200"/>
    <stringAttribute key="confidenceHalfWidth" value="10"/>
    <stringAttribute key="confidenceLevel" value="95"/>
    <stringAttribute key="confidenceMinNumberOfBatches" value="60"/>
    <stringAttribute key="confidenceModelElementName" value=""/>
    <stringAttribute key="confidenceModelElementURI" value=""/>
    <booleanAttribute key="confidenceUseAutomaticBatches" value="true"/>
    <intAttribute key="datasourceID" value="0"/>
    <intAttribute key="de.uka.ipd.sdq.workflowengine.debuglevel" value="2"/>
    <stringAttribute key="eventMiddleware" value="pathmap://PCM_MODELS/default_event_middleware.repository"/>
    <stringAttribute key="eventMiddlewareRepositoryFile" value="pathmap://PCM_MODELS/default_event_middleware.repository"/>
    <stringAttribute key="experimentRun" value="Simulation ms cache all 1k"/>
    <stringAttribute key="featureConfig" value="pathmap://PCM_MODELS/ConnectorConfig.featureconfig"/>
    <stringAttribute key="fixedSeed0" value="0"/>
    <stringAttribute key="fixedSeed1" value="1"/>
    <stringAttribute key="fixedSeed2" value="2"/>
    <stringAttribute key="fixedSeed3" value="3"/>
    <stringAttribute key="fixedSeed4" value="4"/>
    <stringAttribute key="fixedSeed5" value="5"/>
    <stringAttribute key="maximum" value=""/>
    <stringAttribute key="maximumMeasurementCount" value="1000"/>
    <stringAttribute key="minimum" value=""/>
    <stringAttribute key="monitorRepositoryFile" value=""/>
    <stringAttribute key="mwRepositoryFile" value="pathmap://PCM_MODELS/Glassfish.repository"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="outpath" value="de.uka.ipd.sdq.temporary"/>
    <stringAttribute key="persistenceFramework" value="Experiment Data Persistency &amp; Presentation (EDP2)"/>
    <stringAttribute key="reconfigurationRulesFolder" value=""/>
    <booleanAttribute key="reliability.simulateFailures" value="true"/>
    <stringAttribute key="rmiRepositoryFile" value="pathmap://PCM_MODELS/Glassfish.repository"/>
    <stringAttribute key="serviceLevelObjectiveRepositoryFile" value=""/>
    <booleanAttribute key="shouldThrowException" value="true"/>
    <stringAttribute key="simTime" value="-1"/>
    <booleanAttribute key="simulateAccuracy" value="false"/>
    <booleanAttribute key="simulateEvents" value="true"/>
    <booleanAttribute key="simulateFailures" value="false"/>
    <booleanAttribute key="simulateLinkingResources" value="false"/>
    <booleanAttribute key="simulateThroughputOfLinkingResources" value="true"/>
    <stringAttribute key="simulatorId" value="de.uka.ipd.sdq.codegen.simucontroller.simucom"/>
    <stringAttribute key="stepwidth" value=""/>
    <stringAttribute key="storageProject" value="org.palladiosimulator.temporary"/>
    <booleanAttribute key="storeTransformedModels" value="true"/>
    <stringAttribute key="usageEvolutionFile" value=""/>
    <stringAttribute key="usageFile" value="platform:/resource/MediaStore3_Model/ms_cache_usage_all.usagemodel"/>
    <booleanAttribute key="useConfidenceStopCondition" value="false"/>
    <booleanAttribute key="useFixedSeed" value="false"/>
    <stringAttribute key="variable" value=""/>
    <stringAttribute key="variationId" value=""/>
    <booleanAttribute key="verboseLogging" value="false"/>
</launchConfiguration>
